*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  cursor: none;
  overflow: hidden;
  font-family: sans-serif;
}
	
.dark {
  width: 100%;
  height: 100%;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #2b2b41, rgb(8, 8, 8));
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 10% 1fr 1fr 10%;
  padding: 0 10%;
  min-height: 10vh;
  color: white;
  align-items: center;
}
#logo{
  /* grid-column: 2/3; */
  /* margin-left: 10%; */
  font-size: 24px;
  z-index: 1;
}

.navHamburger{
  /* width: 30vw; */
  display: flex;
  float: left;

}

.navLinks{
  display: flex;
  list-style: none;
  width: 30vw;
  height: 10vh;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  font-size: 1rem;
  font-weight: bold;
  margin-right: auto;
}

.navLinks li a{
  text-decoration: none;
  color: white;
  margin: 1rem;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.navLinks li a:hover{
  color: black;
  font-weight: bold;
  text-shadow: grey 1px 0 10px;
  font-size: 150%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}



/* 
.hamburger{
  margin-right: 10%;
} */

section{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
.hero{
  height: 60%;
  width: 100%;
  position: relative;
}

.hero::after{
  content: "";
  background-color: rosybrown;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginBox{
  position: absolute;
  border: 1px solid rgba(223,190,106,0.7);
  height: 100%;
  top: 0%;
  width: 23vw;
  bottom: 13%;
  text-align: center;
  color: white;
  z-index: 1;
}
.headline{
  display: flex;
  bottom: 57%;
  width: 100%;
  justify-content: center;
  font-size: 60px;
  /* transform: translate(-20%, -70%); */
  color: white;
  opacity: 0.6;
}

.loginDiv{
  padding: 5% 2%;
  display: flex;
  margin-bottom: 3%;
  width: 100%;
  justify-content: space-between;
  color: rgba(223,190,106,0.7);
  
}
.loginDiv input{
  border-radius: 10px;
  border: none;
  color: white;
  padding: 2% 3%;
  outline: none;
  background: rgba(223,190,106,0.7);
  opacity: 0.6;
  font-size: 1em;
  box-sizing: border-box;
  width: 70%;
}

.cursor{
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: backgroud, transform;
  transform-origin: 100% 100%;
  z-index: 1;
  backdrop-filter: gratscale();
}

.link-grow{
  transform: scale(2);
  background: white;
}


.hoverLink{
  color: white;
}

#logo a{
  text-decoration: none;
  color: white;
  margin: 1rem;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  z-index: 3;
}

#logo a:hover{
  color: black;
  font-weight: bold;
  text-shadow: grey 1px 0 10px;
  font-size: 150%;
}
